
{% load staticfiles %}
           


    <footer class="footer" style="background-color:#29293d; color:white; height:100px;">
      <div class="container-fluid text-center" >
        <h5 style="padding: 28px;">Team TechDivas<br>&copy; Copyright 2017 All Rights Reserved
        </h5>
      </div>
    </footer>




        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <!-- Bootstarp js -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Google Map -->
       
        <!-- Custom ScrollBar  -->
        <script src="{% static 'js/enscroll-0.6.2.min.js' %}"></script>
        <!-- LightCase  -->
        <script src="{% static 'js/lightcase.js' %}"></script>
        <!-- Isotop -->
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'jsjs/custom.isotop.js' %}"></script>
        <!-- Masonry -->
        <script src="{% static 'js/masonry.js' %}"></script>
        <!-- Swipper -->
        <script src="{% static 'js/swiper.min.js' %}"></script>
        <!-- Flex Slider -->
        <script src="{% static 'js/jquery.flexslider.js' %}"></script>
        <!-- NST slider -->
        <script src="{% static 'js/jquery.nstSlider.min.js' %}"></script>
        <!-- Main Js -->
       <!-- <script src="js/functions.js"></script> -->
    </body>
</html>
 