{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
   {% include 'head.html' %}
   <body>

 {% include 'navbar.html' %}




<div class="container-fluid space one">
	<div class="container">
		<h2 class="text-center" style="text-transform: uppercase;">Pashmina Products Training centres<u> </u></h2><br>
		<h4 class="text-center"> Skills and Training  category :</h4><br>
		<div class="row">
			<div class="col-md-6 line">
				<ol>
					<li><a href="{% url 'train' %}">
					
						Geeta Silai Bunai, bhotahiti
					</a></li>
					<li><a href="#">
					
						Luvkush Silai Prasikshan Kendra, bhotahiti
					</a></li>
					<li><a href="#">
					
						Luvkush Silai Prasikshan Kendra, asan
					</a></li>
					
					<li><a href="#">
					
						Nari Jagriti Silai Praksikshan Kendra, kathmandu
						</a></li>
					

					</ol>
				
			</div>
			<div class="col-md-6 line">
				<ol>
				</a></li>
					</a></li>
					<li><a href="#">
				
						Luvkush Silai Prasikshan Kendra, bhotahiti
					</a></li>

					</a></li>
					<li><a href="#">
					
						Luvkush Silai Prasikshan Kendra, bhotahiti
					</a></li>
					<li><a href="#">
						Nari Kalyankari Siali Praksikshan Kendra, sorahkhuttay
						</a></li>
					
				</ol>
			</div>
		</div>
</div>

	</div>





	<div class="container">
		<div class="row">
			<h2 class="text-center"style="text-transform: uppercase;"><u>Supporting NGO / INGO for Establishment of Business</u></h2><br>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-8 line">
			
				<a href="#"><img src="{% static 'images/unesco.png' %} " class="logo" style="margin-left: -200px;"> <br><br>UNESCO:The United Nations Educational, Scientific and Cultural Organization</a><br><br><br><br>

				<a href="#"><img src="{% static 'images/FAO.jpg' %}" class="logo" style="margin-left: -200px;"> <br><br> FAO:Food and Agricultural Organization </a><br><br><br><br>

				<a href="#"><img src="{% static 'images/usaid.png' %}" class="logo"  style="margin-left: -200px;"> <br>USAID:The United States Agency for International Development</a><br><br><br><br>

				<a href="#"><img src="{% static 'images/oceed.jpg' %}" class="logo"  style="margin-left: -200px;"> <br>OCEED NEPAL</a><br><br><br><br>

				<a href="#"><img src="{% static 'images/savechild.jpg' %}" class="logo"  style="margin-left: -200px;"> <br>Save The Children</a>
			
			</div>
			<div class="col-md-2">
				
			</div>

		</div>
	</div>
</div>




	{% include 'footer.html' %}
</body>
</html>
