{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
   {% include 'head.html' %}
   <body>

 {% include 'navbar.html' %}




 <div class="container-fluid space one">
	<div class="container">

		<h4 class="text-center"> Skills and Training  category :</h4><br>
		<div class="row">
			<div class="col-md-6 line">
				<ol>
					<li><a href="{% url 'train' %}">
					Woolen Training centres
						<!-- Geeta Silai Bunai, bhotahiti -->
					</a></li>
					<li><a href="#">
					Pashmina Training centres
						<!-- Luvkush Silai Prasikshan Kendra, bhotahiti -->
					</a></li>
					
					<li><a href="#">
					Silk Products Training centres
						<!-- Nari Jagriti Silai Praksikshan Kendra, kathmandu -->
						</a></li>
						<li><a href="#">
					Bamboo Products Training centres
						<!-- Luvkush Silai Prasikshan Kendra, bhotahiti -->
					</a></li>

					</a></li>
					<li><a href="#">
					Stone Craft Training centres
						<!-- Luvkush Silai Prasikshan Kendra, bhotahiti -->
					</a></li>
					<li><a href="#">
					Beads Items Training centres
						<!-- Nari Kalyankari Siali Praksikshan Kendra, sorahkhuttay -->
						</a></li>

					<li><a href="#">
					Thanka Training centres
						<!-- Nari Kalyankari Siali Praksikshan Kendra, sorahkhuttay -->
						</a></li>
					
					

					</ol>
				
			</div>
			<div class="col-md-6 line">
				<ol>
				</a></li>
					</a></li>
					<li><a href="#">
					Hemp Goods Training centres
						<!-- Luvkush Silai Prasikshan Kendra, bhotahiti -->
					</a></li>

					</a></li>
					<li><a href="#">
					Dhaka Products Training centres
						<!-- Luvkush Silai Prasikshan Kendra, bhotahiti -->
					</a></li>
					<li><a href="#">
					Cotton Goods Training centres
						<!-- Nari Kalyankari Siali Praksikshan Kendra, sorahkhuttay -->
						</a></li>

						<li><a href="#">
					Metal Craft Training centres
						<!-- Geeta Silai Bunai, bhotahiti -->
					</a></li>
					<li><a href="#">
					Handmade Paper Products Training centres
						<!-- Luvkush Silai Prasikshan Kendra, bhotahiti -->
					</a></li>
					<li><a href="#">
					Wood Craft Training centres
						<!-- Luvkush Silai Prasikshan Kendra, asan -->
					</a></li>
					
					<li><a href="#">
					Ceramics Products Training centres
						<!-- Nari Jagriti Silai Praksikshan Kendra, kathmandu -->
						</a></li>










					
				</ol>
			</div>
		</div>


	</div><br><br>
	<br>










	<div class="container">
		<div class="row">
			<h2 class="text-center"style="text-transform: uppercase;"><u>Supporting NGO / INGO for Establishment of Business</u></h2><br>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-8 line">
			
				<a href="#"><img src="{% static 'images/unesco.png' %} " class="logo" style="margin-left: -200px;"> <br><br>UNESCO:The United Nations Educational, Scientific and Cultural Organization</a><br><br><br><br>

				<a href="#"><img src="{% static 'images/FAO.jpg' %}" class="logo" style="margin-left: -200px;"> <br><br> FAO:Food and Agricultural Organization </a><br><br><br><br>

				<a href="#"><img src="{% static 'images/usaid.png' %}" class="logo"  style="margin-left: -200px;"> <br>USAID:The United States Agency for International Development</a><br><br><br><br>

				<a href="#"><img src="{% static 'images/oceed.jpg' %}" class="logo"  style="margin-left: -200px;"> <br>OCEED NEPAL</a><br><br><br><br>

				<a href="#"><img src="{% static 'images/savechild.jpg' %}" class="logo"  style="margin-left: -200px;"> <br>Save The Children</a>
			
			</div>
			<div class="col-md-2">
				
			</div>

		</div>
	</div>
</div>
<div class="container-fluid space two">
	<div class="container space">
		<h2 class="text-center"style="text-transform: uppercase;"><u>Online  Video Trianing | Absolute Beginner</u></h2><br>
		<div class="row">
			<div class="col-md-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ONVQCK_-rKc" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-4">
				<h3>How to knit if you're an absolute beginner!</h3>
					<p>This video will teach you how to:</p>
					<ol>
						<li>Work a slip knot</li>
						<li>Cast on</li>
						<li>Work the knit stitch</li>
						<li>Bind off</li>
					</ol>
			</div>
		</div>
	</div>

</div>
{% include 'footer.html' %}

</body>
</html>

