
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
   {% include 'head.html' %}
    <body>
 
     
 {% include 'navbar.html' %}


<div class="container-fluid height space pebbles"><br><br>
	<h1 class="text-center">One of The Greatest You Can Give is Your Time!</h1><br>
</div>
<div class="container-fluid one space">

	<div class="container vol">
	<h1 class="text-center"><u>Our 	Volunteer</u></h1><br>
		<div class="row text-center" >
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer.jpg' %}" class="volunteer" >
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer1.jpg' %}" class="volunteer">
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer2.jpg' %}" class="volunteer">
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4>
			 </div>
			 <div class="col-md-3">
			 	<img src="{% static 'images/volunteer3.jpg' %}" class="volunteer">
			 	<h3><b>Ram Sapkota</b></h3>
			 	<h4><b>C.E.O, <br>Summiters For Change</b></h4><br><br>
			 </div>
			 <button type="button" class="btn btn-danger text-center">View More</button>
		</div>

	</div>
</div>


		
			</div>

		</div>
	</div>
</div>

<div class="container-fluid height space pebbless text-center"><br><br>
	<h1 >Volunteers do not necessarily have the time; they just have the heart.”</h1><br>
</div>




</nav>
</div>
</div>
</div>
</div>
</header>
{% include 'footer.html' %}
</body>
</html>
