body{
	/*background-image: url("images/main_bg.gif");*/
	    font-family: 'Roboto', sans-serif;
	    	letter-spacing: 0.4px;

  
}

u {
    text-decoration: none;
    position: relative;

}
u:after {
	
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 0 2px ;
    border-style: solid;
    border-color: orange;
}

 .market a, .market a:hover
{
	text-decoration: none;
	color: white;

}
.dang{
	position: sticky;

bottom:   0;
margin-bottom: 10px;
}
/*@font-face {
  font-family: "San Francisco";
  font-weight: 900;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/  sanfranciscodisplay-regular-webfont.woff");
}*/
.pGallery{
	padding: 20px;
	background-color: lightgrey;
}
/*.col1
{
	background-color: lightgrey;
}*/
.projectGallery{
	height: 280px;
	width:380px;
	border:10px solid lightgreen;
	border-radius: 20px;
}
.projectGallery:hover{
	border:dotted lightgreen;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s
}
.skills ol li
{
	list-style-type: none;
}
.space{
	padding-top: 30px;
	padding-bottom: 50px;	
}
.pie{
	width: 100%;
}
.pie{
	width: 100%;
	margin-top: 100px;
}
.commentPeople{
	width: 230px;
	height: 230px;
	border:5px solid lightgreen;
	border-radius: 100%;
}
.comments{
	font-size: 36px;

}
p.comment{
	font-size: 18px;
	letter-spacing: 1px;
	    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;


}
.line ol li{
	line-height: 2em;
	font-weight: 500;

}
.comn
{
	background-color: lightgrey;
}
iframe{
	border-radius: 10px;
	border : 2px dotted;
}
.two
{
	background: #c8c4ba;
}
.one
{
	background:#e5e5e5;
}
.logo{
	height: auto;
	width:100px;
	padding: 10px;
}
	
nav ol li
{
	list-style-type: none;
	
	float: left;
	font-size: 50px;

}
header {
    background-image: -webkit-linear-gradient(top, rgba(51,52,71,0.7), rgba(51,52,71,0));
    background-image: linear-gradient(to bottom, rgba(51,52,71,0.7), rgba(51,52,71,0));
    background-position: 0 0;
    background-color: rgba(255,255,255,0);
    border-color: rgba(216,220,230,0);
    -webkit-transition: background-color 0.2s ease 0.2s, background-position 0.2s ease 0.2s;
    transition: background-color 0.2s ease 0.2s, background-position 0.2s ease 0.2s;

}
.market{
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	height: 370px;
	width: 240px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 10px black;

	

}
.market li
{
	list-style-type: none;	
	padding-top: 10px;


}
.market:hover{
	box-shadow: 2px 2px 30px black;
}
.markThumb{
	height: 160px;
	width: 160px;
	border-radius: 20px;
	border: 5px dotted lightgreen;


}
.text-container{
    	background: #0072B6;
    color: #fff;
    text-align: center;
   
    padding: 20px 0;

    }
.text-container a {
	padding: 8px;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-decoration:none;
}
.text-container h4{
	letter-spacing: 0.5px;
}
.text-container a:hover{
	background-color: white;
	color: blue;
	webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

}

.quote{
	height: 30px;
	width: auto;
	margin-top: -30px;
	padding-right: 10px;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #e4e8eb;
    border: 1px solid #dddddd;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.volunteer
{
	box-shadow: 2px 2px 30px black;
	border-radius: 10px;
	width: 252px;
	height: 280px;
}
.vol h3
{
	color: orange;
}
.vol h4
{
	color: green	;
}
.height{
	height: 238px;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
.donate {
    background: #FFCA00;
    border-color: #FFCA00;
    color: #000;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 10px;
}
.donate:hover{
	color:#FFCA00;
	background:#000; 
}
.btn
{
	min-width: 100px;
}
.donateimage{
	width: 430px;
	height:540px;
	border:1px solid black;
	border-radius: 2px;
	box-shadow: 2px 2px 15px black;
	margin-left: 10px;
}
.pebbles{
	background-image: url("images/pebbles.jpeg");
	background-position: fixed;
}

.vv h4{
	color: orange;
}